DB_PASSWORD=mysecretpassword
DB_NAME=MedPoint
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s

# Este es el unico dato que debes colocar realmente de tu cuenta de stripe para que funcione, es el secret key.
# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=sk_test_your_stripe_test_key_here